<dependency>
    <groupId>com.hkupty.penna</groupId>
    <artifactId>penna-yaml-config</artifactId>
    <version>{{ .Site.Data.version.release }}</version>
</dependency>
<dependency>
    <groupId>com.fasterxml.jackson.core</groupId>
    <artifactId>jackson-core</artifactId>
    <version>$jacksonVersion</version>
</dependency>
<dependency>
    <groupId>com.fasterxml.jackson.core</groupId>
    <artifactId>jackson-databind</artifactId>
    <version>$jacksonVersion</version>
</dependency>
<dependency>
    <groupId>com.fasterxml.jackson.dataformat</groupId>
    <artifactId>jackson-dataformat-yaml</artifactId>
    <version>$jacksonVersion</version>
</dependency>
