{{ define "main" }}
  <div class="box">
    <article class="pb-5">
      <span class="icon-text">
        <ion-icon name="{{ .Params.icon }}" class="icon has-text-link"></ion-icon>
        <h1 class="subtitle is-5">{{ .Title }}</h1>
      </span>
      <!-- "{{ .Content }}" pulls from the markdown content of the corresponding _index.md -->
      {{ .Content }}
    <hr />
    </article>
    <ul>
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
