{{- define "main" }}
  <article class="content">
    <header>
      <h1 class="title"> {{ .Title }} </h1>
      {{- if .Description }}
        {{ .Description }}
      {{- end }}
      {{- if .Params.tags }}
      <div class="tags">
        {{- range $i, $tag := .Params.tags }}
          <span class="tag is-link">{{ $tag }}</span>
        {{- end -}}
      </div>
      {{- end }}
    </header>
    {{- if .Content }}
    <section>
      {{ .Content }}
    </section>
    {{- end }}
  </article>
{{- end }}
