{{- define "main" }}
  <article class="box content">
    <header class="pb-2">
      <h1 class="title"> {{ .Title }} </h1>
      {{- if .Description }}
        {{ .Description }}
      {{- end }}
      {{- if .Params.tags }}
      <div class="tags">
        {{- range $i, $tag := .Params.tags }}
          <span class="tag is-link">{{ $tag }}</span>
        {{- end -}}
      </div>
      {{- end }}
    {{ .TableOfContents }}
    <hr />
    </header>
    {{- if .Content }}
    <section>
      {{ .Content }}
    </section>
    {{- end }}
  <aside class="content has-text-centered">
    <hr />
    {{- partial "footnote.html" . }}
  </article>
{{- end }}
