{{- define "main" }}
<article class="columns pt-5">
  <div class="column">
    <div class="box">
      <span class="content">
        <span class="icon-text">
          <ion-icon name="flash" class="icon has-text-link"></ion-icon>
          <span class="subtitle is-5">Blazingly Fast</span>
        </span>
        <p class="py-5">
        Penna is designed to be very efficient and sparing with your resources, not causing pressure to the GC and retaining the log message for as little time as possible before pushing it straight to stdout.
        </p>
      </span>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <span class="content">
        <span class="icon-text">
          <ion-icon name="cube" class="icon has-text-link"></ion-icon>
          <span class="subtitle is-5">Sane defaults</span>
        </span>
        <p class="py-5">
        Penna has sane out-of-the-box defaults so you can plug an play immediatelly.
        </p>
      </span>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <span class="icon-text">
        <ion-icon name="terminal" class="icon has-text-link"></ion-icon>
        <span class="subtitle is-5">Structure Logging to stdout</span>
      </span>
      <span class="content"></span>
    </div>
  </div>
</article>
{{ end }}
